<tbody>
  <tr>
    <td><%= account.branch_code %></td>
    <td><%= account.sort_code %></td>
    <td>
      <%= link_to "#{account.account_number}", client_bank_account_path(account),
        class: 'btn btn-primary btn-sm' %>
    </td>
    <td><%= account.rib_key %></td>
    <td><%= account.account_state.state %></td>
    <td><%= number_to_currency(account.balance, locale: "fr", precision: 2)  %></td>
  </tr>
</tbody>
