<tbody>
  <tr>
    <td><%= account.branch_code %></td>
    <td><%= account.sort_code %></td>
    <td><%= account.account_number%></td>
    <td><%= account.rib_key %></td>
    <td><%= account.account_state.state %></td>
    <td><%= number_to_currency(account.balance, locale: "fr", precision: 2)  %></td>

    <% if current_user.role.role_tid == Role::ADMIN_ROLE_TID %>
      <td>
        <% if account.account_state.state_tid == AccountState::PENDING_ACTIVATION_STATE_TID %>
          <%= button_to admin_bank_account_path(account), method: :put, class: 'btn btn-primary btn-sm' do %>
            <span><%= t('.activated_bank_account_btn') %></span>
            <%= hidden_field_tag "bank_account[account_state_id]", AccountState::ACTIVE_STATE_TID %>
          <% end %>
        <% elsif account.account_state.state_tid == AccountState::ACTIVE_STATE_TID %>
          <%= button_to admin_bank_account_path(account), method: :put, class: 'btn btn-danger btn-sm' do %>
            <span><%= t('.close_bank_account_btn') %></span>
            <%= hidden_field_tag "bank_account[account_state_id]", AccountState::CLOSED_STATE_TID %>
          <% end %>
        <% end %>
      </td>
    <% elsif current_user.role.role_tid == Role::CLIENT_ROLE_TID %>
      <td>
        <%= link_to client_bank_account_path(account) do %>
          <%= image_tag 'glyphicons-52-eye-open', class: 'img-responsive' %>
        <% end %>
        <%= link_to'#', onclick: "printRIB('#{account.branch_code}', '#{account.sort_code}',
          '#{account.account_number}', '#{account.rib_key}', '#{account.user.title}',
          '#{account.user.firstname}', '#{account.user.lastname}', '#{account.user.city}')" do %>
          <%= image_tag 'glyphicons-16-print', class: 'img-responsive' %>
        <% end %>
      </td>
    <% end %>
  </tr>
</tbody>

<script type="text/javascript">

  function printRIB(branchCode, sortCode, accountNumber, ribKey, userTitle,
    userFirstname, userLastname, userCity)
  {
    var win = window.open();
    self.focus();
    win.document.open();
    win.document.write('<'+'html'+'><'+'body'+'>');
    win.document.write('<'+'table border=\"1\"'+'><'+'tr'+'>');
    win.document.write('<'+'thead'+'><'+'tr'+'>');
    win.document.write('<'+'th'+'>');
    win.document.write('Code Banque');
    win.document.write('<'+'/th'+'>');
    win.document.write('<'+'th'+'>');
    win.document.write('Code Guichet');
    win.document.write('<'+'/th'+'>');
    win.document.write('<'+'th'+'>');
    win.document.write('Numéro de compte');
    win.document.write('<'+'/th'+'>');
    win.document.write('<'+'th'+'>');
    win.document.write('clé RIB');
    win.document.write('<'+'/th'+'>');
    win.document.write('<'+'/tr'+'><'+'/thead'+'>');
    win.document.write('<'+'td'+'>');
    win.document.write(branchCode);
    win.document.write('<'+'/td'+'>');
    win.document.write('<'+'td'+'>');
    win.document.write(sortCode);
    win.document.write('<'+'/td'+'>');
    win.document.write('<'+'td'+'>');
    win.document.write(accountNumber);
    win.document.write('<'+'/td'+'>');
    win.document.write('<'+'td'+'>');
    win.document.write(ribKey);
    win.document.write('<'+'/td'+'>');
    win.document.write('<'+'/tr'+'><'+'/table'+'>');
    win.document.write('<'+'p'+'>');
    win.document.write('Titulaire : ');
    win.document.write(userTitle);
    win.document.write(' ');
    win.document.write(userFirstname);
    win.document.write(' ');
    win.document.write(userLastname);
    win.document.write(', ');
    win.document.write(userCity);
    win.document.write('<'+'/p'+'>');
    win.document.write('<'+'/body'+'><'+'/html'+'>');
    win.document.close();
    win.print();
  }

</script>
