<br/>
<button type="button" class="btn btn-primary btn-sm">
  <%= t('.pending_transaction_count') %>
  <span class="badge badge-light">
    <%= @transactions.where(transaction_state: TransactionState::PENDING_STATE_TID).count %>
  </span>
</button>
<br/><br/><br/>

<h3 class="text-center"><%= t('.transaction_list_page_title') %></h3>
<br/>

<div class="table-responsive-sm">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%= t('.transaction_type_col_head') %></th>
        <th scope="col"><%= t('.transaction_state_col_head') %></th>
        <th scope="col"><%= t('.transaction_created_at_col_head') %></th>
        <th scope="col"><%= t('.transaction_value_col_head') %></th>
        <th scope="col"><%= t('.transaction_client_col_head') %></th>
        <th scope="col"><%= t('.transaction_bank_account_number_col_head') %></th>
        <th scope="col"><%= t('.transaction_actions_col_head') %></th>
      </tr>
    </thead>
    <% @transactions.each do |transaction| %>
      <tbody>
        <tr>
          <td><%= transaction.transaction_type %></td>
          <td><%= transaction.transaction_state.state %></td>
          <td><%= DateTime.parse(transaction.created_at.to_s).strftime('%A %B %d %H:%M') %></td>
          <td>
            <%= render partial: '/shared/transactions/transaction_value', locals: { transaction: transaction } %>
          </td>
          <td><%= transaction.bank_account.user.firstname %> <%= transaction.bank_account.user.lastname %></td>
          <td><%= transaction.bank_account.account_number %></td>
          <td>
            <% if transaction.transaction_state.state_tid == TransactionState::PENDING_STATE_TID %>
              <div class="btn-group btn-group-sm" role="group">
                <%= button_to admin_transaction_path(transaction), method: :put, class: 'btn btn-sm' do %>
                  <%= image_tag 'glyphicons-194-ok-sign', class: 'img-responsive' %>
                  <%= hidden_field_tag "transaction[state_tid]", TransactionState::VALIDATED_STATE_TID %>
                <% end %>
                <%= button_to admin_transaction_path(transaction), method: :put, class: 'btn btn-sm' do %>
                  <%= image_tag 'glyphicons-193-remove-sign', class: 'img-responsive' %>
                  <%= hidden_field_tag "transaction[state_tid]", TransactionState::CANCELLED_STATE_TID %>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>

<%= will_paginate(@transactions, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
