<br/>
<h5><%= t('.transaction_form_head_page') %></h5>
<br/>
<%= simple_form_for @transaction, url: admin_transactions_path do |f| %>

  <%= f.radio_button :transaction_type, Transaction::CREDIT_TRANSACTION_TYPE, checked: true %>
  <%= f.label :transaction_type, t('.credit_radio_btn_label'), class: "form-check-label" %>

  <%= f.radio_button :transaction_type, Transaction::DEBIT_TRANSACTION_TYPE %>
  <%= f.label :transaction_type, t('.debit_radio_btn_label'), class: "form-check-label" %>

  <br/><br/>

  <%= f.label :state_tid, t('.state_select_label'), class: "form-check-label" %>
  <%= f.collection_select :state_tid,
    TransactionState.all.reject { |state| state.state_tid == TransactionState::CANCELLED_STATE_TID },
    :id, :state
  %>
  <br/>

  <%= f.label :value, t('.value_label'), class: "form-check-label" %>
  <%= f.input :value, label: false, placeholder: "0,0", input_html: { class: 'form-control', value: "" } %>
  <br/>

  <%= f.label :bank_account_id, t('.bank_account_label'), class: "form-check-label" %>
  <%= f.collection_select :bank_account_id, BankAccount.all, :id, :account_number %>

  <br/>
  <%= f.submit t('.create_btn'), class: 'btn btn-primary' %>

<% end %>

<script type="text/javascript">

  $("select").addClass("form-control");


  $('#new_transaction').validate({

    highlight: function(element) {
      jQuery(element).closest('.form-control').addClass('is-invalid');
    },
    unhighlight: function(element) {
      jQuery(element).closest('.form-control').removeClass('is-invalid');
    },
    errorElement: 'div',
    errorClass: 'invalid-feedback',

    rules: {
      'transaction[value]': { required: true, number: true }
    },
    messages: {
      'transaction[value]': {
        required: "Saisissez le montant de la transaction",
        number: "Le montant ne peut contenir que des chiffres"
      }
    }
  });

</script>
