<br/>
<h5><%= t('.user_edit_form_head_page') %> <%= @user.title %> <%= @user.firstname %> <%= @user.lastname %></h5>
<br/>
<%= simple_form_for @user, url: admin_user_path(@user) do |f| %>
  <%= render partial: '/shared/users/form', locals: { f: f } %>
  <%= f.submit t('.modify_btn'), class: 'btn btn-primary' %>
<% end %>
