<br/>
<button type="button" class="btn btn-primary btn-sm">
  <%= t('.client_count') %> <span class="badge badge-light"><%= @users.count %></span>
</button>

<br/><br/><br/>
<h3 class="text-center"><%= t('.user_list_page_title') %></h3>
<br/>
<div class="table-responsive-sm">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%= t('.user_title_col_head') %></th>
        <th scope="col"><%= t('.user_firstname_col_head') %></th>
        <th scope="col"><%= t('.user_lastname_col_head') %></th>
        <th scope="col"><%= t('.user_birthday_col_head') %></th>
        <th scope="col"><%= t('.user_email_col_head') %></th>
        <th scope="col"><%= t('.user_city_col_head') %></th>
        <th scope="col"><%= t('.user_monthly_salary_range_col_head') %></th>
        <th scope="col"><%= t('.user_actions_col_head') %></th>
      </tr>
    </thead>
    <% @users.each do |user| %>
    <tbody>
      <tr>
        <td><%= user.title %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.birthday %></td>
        <td><%= user.email %></td>
        <td><%= user.city %></td>
        <td><%= user.monthly_salary_range.range %></td>
        <td>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <%= link_to admin_user_path(user), class: 'img-responsive' do %>
              <%= image_tag 'glyphicons-52-eye-open', class: 'img-responsive' %>
            <% end %>
            <%= link_to edit_admin_user_path(user), class: 'img-responsive' do %>
              <%= image_tag 'glyphicons-151-edit', class: 'img-responsive' %>
            <% end %>
            <%= link_to admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= image_tag 'glyphicons-208-remove', class: 'img-responsive' %>
            <% end %>
          </div>
        </td>
    <% end %>
  </table>
</div>
