<% @bank_accounts.each do |account| %>
  Code banque : <%= account.branch_code %><br/>
  Code Guichet : <%= account.sort_code %><br/>
  Numéro de compte : <%= account.account_number %><br/>
  Clé RIB : <%= account.rib_key %><br/>
  Statut : <%= account.account_state.state %><br/>
  Solde : <%= number_to_currency(account.balance, locale: "fr", precision: 2)  %><br/>
  <% if account.account_state.state_tid == AccountState::PENDING_ACTIVATION_STATE_TID %>
    <%= button_to admin_bank_account_path(account), method: :put, class: 'btn btn-primary btn-sm' do %>
      <span>Activer ce compter</span>
      <%= hidden_field_tag "bank_account[account_state_id]", AccountState::ACTIVE_STATE_TID %>
    <% end %>
  <% elsif account.account_state.state_tid == AccountState::ACTIVE_STATE_TID %>
    <%= button_to admin_bank_account_path(account), method: :put, class: 'btn btn-primary btn-sm' do %>
      <span>Fermer ce compte</span>
      <%= hidden_field_tag "bank_account[account_state_id]", AccountState::CLOSED_STATE_TID %>
    <% end %>
  <% end %>

  <br/><br/>
<% end %>
