<br/>
<p>Saisissez les inforamtions du compte</p>
<%= simple_form_for @bank_account, url: client_bank_accounts_path do |f| %>
  <%= f.input :branch_code, label: false, placeholder: 'Code banque',
      input_html: { class: 'form-control' } %>
  <br/>
  <%= f.input :sort_code, label: false, placeholder: 'Code guichet',
      input_html: { class: 'form-control' } %>
  <br/>
  <%= f.input :account_number, label: false, placeholder: 'Numéro de compte',
      input_html: { class: 'form-control' } %>
  <br/>
  <%= f.input :rib_key, label: false, placeholder: 'Clé RIB',
      input_html: { class: 'form-control' } %>
  <br/>
  <%= f.submit 'Créer', class: 'btn btn-primary' %>
<% end %>
